@charset "utf-8";

/* #clock_weather_box 時計・天気予報 > 表中の場合 */

body:has(#clock_weather_box[style*="display: flex"]) {
	background-color: #000;
}

body:has(#clock_weather_box[style*="display: flex"]) header,
body:has(#clock_weather_box[style*="display: flex"]) footer,
body:has(#clock_weather_box[style*="display: flex"]) section,
body:has(#clock_weather_box[style*="display: flex"]) .server_ip,
body:has(#clock_weather_box[style*="display: flex"]) #option_open,
body:has(#clock_weather_box[style*="display: flex"]) #watch_open,
body:has(#clock_weather_box[style*="display: flex"]) #audio_box {
	display: none;
}

#ccw {
	background-color: #000;
	color: #eee;
}

/*
----------------------------------
画面が横長だった場合
短辺の vh , cqh 基準とする
----------------------------------
*/

#clock_weather_box {
	font-family: "Consolas", "Monaco", "Lucida Console", "Courier New", "Monospace", monospace, system-ui, "Segoe UI", Roboto, Helvetica, Arial, "Noto Sans", "Noto Sans CJK JP", sans-serif;
	background-color: #000;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	box-sizing: border-box;
	padding: 5vh 5vw;
	line-height: 1;
	transition: opacity 0.5s ease;
}

/*
[簡易的]
16:9 で表示領域を固定している場合に、
ブラウザサイズがより横長になった場合は
padding の横方向は不要になっていく
9:16 の表示領域で、ブラウザサイズがより縦長になった場合もしかり
...と言った padding の動的設定を行いたい。
*/

/* 16:9 より横長 > 横方向の padding 不要 */

@media (min-aspect-ratio: 1.86) {
	#clock_weather_box {
		padding: 5vh 0vw;
	}
}

/* 9:16 より縦長 > 縦方向の padding 不要 */

@media (max-aspect-ratio: 0.5) {
	#clock_weather_box {
		padding: 0vh 5vw;
	}
}

.cw_reiwa, .month_day_set .slash, .colon, .celsius_big, .celsius, .speed {
    color: #999;
}

/* 文字の大きさを JavaScript 経由で調整する場合はこの class を付与させる */

.fs_date,
.fs_clock,
.fs_weather {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	vertical-align: middle;
}

/* #cw_weather 天気予報 > 表示中の場合 */

.full #cw_date {
	height: 27%;
}
.full #cw_clock {
	height: 63%;
}
.full #cw_weather {
	height: 30%;
}

/* #cw_weather 天気予報 > 非表示の場合 */

.full .weather_hidden #cw_date {
	height: 30%;
	margin-top: 5%;
}
.full .weather_hidden #cw_clock {
	height: 60%;
}
.full .weather_hidden #cw_weather {
	display: none;
}

/* Mid 要素は非表示 */

.full #cw_date_mid,
.full #cw_weather_mid {
	display: none;
}

/* 梱包する要素内のサイズの基準となる様に設定 cqw , cqh を有効に */

#cw_date,
#cw_date_mid,
#cw_clock,
#cw_weather,
#cw_weather_mid {
	container-type: size;
}

/*
----------------------------------
上段 > 日付関係
----------------------------------
*/

#cw_date {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	position: relative;
}

/* 月日曜日 (左) */

.month_day_set {
	text-align: left;
}

/* 年 (強制的に中央) */

.year_set {
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}

/*
	アイコン (右) 要素的には #clock_weather_box 直下の一番最後に位置する
	アイコンだけはピクセル指定にした
*/

#to_radio {
	position: fixed;
	width: 36px;
	height: 36px;
	top: 20px;
	right: 36px;
}

#radio_icon {
	width: 100%;
	height: 100%;
	display: inline-block;
}

#radio_icon svg {
	width: 100%;
	height: 100%;
	display: inline-block;
	fill: #333;
	vertical-align: middle;
	cursor: pointer;
}

/* 月 / 日 */

.month_day_box {
	background-color: #ccc;
	color: #222;
	text-align: center;
	padding: 0.75em 1.0em 0.8em 1.0em;
	border-radius: 0.3em;
	overflow: hidden;
	display: inline-block;
}

.month_day_box span {
	display: block;
	font-weight: bold;
	margin: -0.02em 0;
}

.cw_month {
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: -0.02em;
}

.cw_day {
	font-size: 3.8em;
	font-weight: bold;
	letter-spacing: 0em;
	vertical-align: bottom;
	margin: 1cqh 0;
}

.cw_youbi {
	font-size: 1.2em;
	letter-spacing: 0.1em;
}

/* 年 / 年号 */

.year_set span {
	display: block;
	text-align: center;
}

.cw_reiwa {
	font-size: 1.4em;
}

.cw_year {
	font-size: 4.2em;
	font-weight: bold;
	margin-top: 0.1em;
}

/*
----------------------------------
中段 > 時計
----------------------------------
*/

#cw_clock {
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0;
}

#cw_clock {
	font-size: 38cqh;
}

.cw_hour,
.cw_minute,
.cw_second,
.colon {
	display: inline-block;
	vertical-align: middle;
}

/* cqh: 梱包する要素の高さに対する大きさ 100cqh = 100% */

.cw_hour,
.cw_minute,
.cw_second {
	font-size: 1.0em;
	letter-spacing: 0;
}

.colon {
	font-size: 0.9em;
	margin: 0 -0.05em 0.15em -0.05em;
}

/*
----------------------------------
下段 > 天気予報関係
----------------------------------
*/

#cw_weather {
	display: flex;
	justify-content: space-between;
	/*align-items: stretch;*/
	align-items: flex-end;
	position: relative;
}

/* 位置調整 */

#cw_weather span {
	flex: 1;
}

#clock_weather_box {
	aspect-ratio: 16 / 9;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

/* 気温 (左) */

.temp_set {
	display: inline-block;
	text-align: left;
	align-self: flex-end;
}

/* 天気情報 (強制的に中央) */

.weather_set {
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translateX(-50%);
	text-align: center;
	white-space: nowrap;
}

/* 風力 (右) */

.wind_set {
	text-align: right;
}

/* 気温 */

.wind_set {
/*	display: flex;
	align-items: center;
	flex-wrap: wrap;*/
}

.cw_temp {
	font-size: 4.2em;
}

.cw_temp_m {
}

.cw_temp_max {
	font-size: 1.8em;
	color: #ef6109;
}

.cw_temp_min {
	font-size: 1.8em;
	color: #10bcf0;
}

.celsius_big {
	font-size: 2.0em;
	margin: 0 0.3em;
}

.celsius {
	font-size: 0.8em;
	margin: 0 0.4em;
}

/* 天気予報 */

.weather_set {
	display: inline-block;
}

.cw_icon,
.cw_description {
	display: block;
}

.cw_icon {
	height: 6.4em;
	width: 6.4em;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 135%;
}

.cw_description {
	font-size: 1.2em;
	font-weight: bold;
}

/* 風速関係 */

.wind_set {
	align-self: flex-end;
}

.cw_position {
	display: inline-block;
	width: 100%;
	margin-bottom: 0.2em;
	font-size: 1.6em;
	color: #666;
	font-weight: bold;
}

.cw_wind_deg {
	display: inline-block;
	font-size: 3.8em;
	color: #328805;
	font-weight: bold;
}

.cw_wind_speed {
	font-size: 4.6em;
	margin-left: 0.2em;
}

.speed {
	font-size: 2.2em;
	margin-left: 0.2em;
}

/*
----------------------------------
画面が縦長だった場合
短辺の vw , cqw 基準とする
実際には 縦横比率 1.2:1.0 程度から切り替え
----------------------------------
*/

/* 正方形に近い状態は一部要素を表示 */

@media (max-aspect-ratio: 1.2) {

	#clock_weather_box {
		aspect-ratio: 9 / 16;
		max-width: 100%;
		max-height: 100%;
		margin: auto;
	}

	#cw_date {
		height: 20%;
		align-items: flex-end;
	}
	#cw_clock {
		height: 35%;
	}
	#cw_weather {
		height: 35%;
	}

	/* #cw_weather 天気予報 > 非表示の場合 */

	.weather_hidden #cw_date {
		height: 50%;
		margin: 5cqw 0;
	}
	.weather_hidden #cw_clock {
		height: 50%;
		align-items: flex-start;
		margin: 5cqw 0;
	}

	.portrait,
	.cw_second {
		display: none !important;
	}

	/*
	----------------------------------
	上段 > 日付関係
	----------------------------------
	*/

	/* 月 / 日 */

	.month_day_box {
		padding: 0.55em 0.8em 0.5em 0.8em;
	}

	.cw_month {
		font-size: 1.0em;
	}

	.cw_day {
		font-size: 3.4em;
	}

	.cw_youbi {
		font-size: 1.0em;
	}

	/* 年 / 年号 */

	.cw_reiwa {
		font-size: 1.2em;
	}

	.cw_year {
		font-size: 2.8em;
	}

	/*
	----------------------------------
	中段 > 時計
	----------------------------------
	*/

	.cw_hour,
	.cw_minute,
	.cw_second {
		font-size: 0.7em;
		letter-spacing: 0;
	}

	.colon {
		font-size: 0.6em;
	}

	/*
	----------------------------------
	下段 > 天気予報関係
	----------------------------------
	*/

	#cw_weather .fs_weather {
		flex-direction: column;
		justify-content: space-between;
	}

	.temp_set,
	.weather_set,
	.wind_set {
		display: block;
		text-align: center;
		margin: 0 auto;
	}

	.cw_temp {
		font-size: 2.6em;
	}

	.celsius_big {
		font-size: 1.4em;
	}

	.cw_temp_max {
		font-size: 1.6em;
	}

	.cw_temp_min {
		font-size: 1.6em;
	}

	.celsius {
		font-size: 0.6em;
	}

	.weather_set {
		position: initial;
		left: initial;
		bottom: initial;
		transform: initial;
		text-align: center;
		white-space: nowrap;
	}

	.cw_icon,
	.cw_description {
		display: inline-block;
		vertical-align: middle;
	}

	.cw_icon {
		height: 3.4em;
		width: 3.4em;
		margin: 0 1.0em 0.3em 0;
	}

	.cw_description {
		font-size: 1.0em;
	}

	.cw_wind_deg,
	.cw_wind_speed {
		vertical-align: initial;
	}

	.cw_wind_deg,
	.cw_wind_speed {
		font-size: 2.8em;
	}

	.cw_position {
		white-space: inherit;
		display: initial;
		margin-bottom: initial;
		font-size: 1.8em;
	}

	.cw_wind_deg {
		margin-left: 0.4em;
	}

	.cw_wind_speed {
		margin-left: 0.4em;
	}

	.speed {
		font-size: 1.6em;
	}

}

/*
============================================
表示タイプ > mini
時計のみ表示
但しコントロールパネルへのリンクは表示
============================================
*/

.mini .month_day_set,
.mini .year_set {
	display: none;
}

.mini #cw_clock {
	height: 100vh;
	align-items: center;
}

/*
============================================
表示タイプ > mid
全て表示するが一部非表示とする
時計以外は小さく表示
============================================
*/

/*
Full と Mid の表示切り替えは
HTMLを別途用意して切り替えた方がスッキリする気がする
Full:
	変更なし
Mid:
	上段は日付とアイコンのみ > 2026.03.17 Tue
	下段は地域名と気温と天気アイコンのみ > 帯広 12℃ ☀
あと、画面の切り替えは時計以外は日付が変わるタイミングで十分
*/

.mid #cw_date_mid {
	height: 27%;
}
.mid #cw_clock {
	height: 63%;
}
.mid #cw_weather_mid {
	height: 30%;
}

/* Full 要素は非表示 */

.mid #cw_date,
.mid #cw_weather {
	display: none;
}

#cw_date_mid,
#cw_weather_mid {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: #ccc;
	font-weight: bold;
}

/* 上段日付情報 簡素版 */

.mid_year,
.mid_month,
.mid_day {
	font-size: 2.0em;
}

.mid_slash {
	font-size: 1.6em;
	margin: 0 0.15em 0.05em 0.15em;
}

.mid_youbi {
	font-size: 1.6em;
	margin: 0.3em 0 0.1em 0.5em;
}

.mid_brackets_l,
.mid_brackets_r {
	font-size: 1.2em;
}

.mid_brackets_l {
	margin: 0 0.1em 0.1em 0.5em;
}

.mid_brackets_r {
	margin: 0 0.1em 0.1em 0.1em;
}

/* 下段天気予報 簡素版 */

.mid_temp {
	font-size: 3.2em;
	margin-right: 0.1em;
}

.mid_celsius,
.mid_position {
	font-size: 1.8em;
	color: #999;
	margin-top: 0.5em;
}

.mid_icon {
	width: 5.0em;
	height: 5.0em;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 135%;
	margin: 0 1.0em 0.35em 1.0em;
}

@media (max-aspect-ratio: 1.2) {

	.mid #cw_date_mid {
		height: 20%;
	}
	.mid #cw_clock {
		height: 40%;
	}
	.mid #cw_weather_mid {
		height: 45%;
		padding-bottom: 30%;
		box-sizing: border-box;
	}

	.mid #to_radio {
		position: fixed;
		width: 36px;
		height: 36px;
		top: initial;
		bottom: 10%;
		left: calc( 50% - 18px );
		right: initial;
	}

	/* 上段日付情報 簡素版 */

	/* 下段天気予報 簡素版 */

	.mid_temp {
		font-size: 0.8em;
	}

	.mid_celsius,
	.mid_position {
		font-size: 0.5em;
	}

}

